/*styling goes here, example for body background color: */

/* body {
  background-color: lightblue;
} */
.tripPage {
  display: none;
}

.foodPage {
  display: none;
}

.mapboxgl-canvas {
  position: relative;
  width: 980px;
  height: 500px; 
}

